# Fichiers système
.DS_Store
Thumbs.db

# Dossiers de l'éditeur
.vscode/
.idea/

# Dépendances
node_modules/

# Next.js build output
.next/
out/

# Fichiers temporaires
*.log
*.tmp
*.tsbuildinfo

# Variables d'environnement
.env*
!.env.example

# Kiro
.kiro
